ol{
	list-style:upper-roman;
}

ol > li{
	margin-bottom:5px;
}
.title,.exCol,.line,.colFam {
	float:left;
}
#bottomNotes,.line, .family, #buildingContent{
	clear:left;
}
body{
	font-size: 9pt;
	cursor:default;
}

#Art, #h3Art, [id*="Art"] .styler{
	background: rgba(224, 03, 18, 0.4);/*#E00312;*/
}

#Eco , #h3Eco, [id*="Eco"] .styler{
	background: rgba(227, 199, 81, 0.4)/*#E3C751;*/
}

#Pol, #h3Pol, [id*="Pol"] .styler{
	background: rgba(55, 183, 231, 0.4);/*#37B7E7;*/
}

#Arc, #h3Arc, [id*="Arc"] .styler{
	background: rgba(40, 196, 53, 0.4);/*#28C435;*/
}

/*div[id^="buildList"]:not(.enabledList) span{
}

.enabledList span{
}
*/
#buttonDiv {
	margin:15px;
	text-align:center;
}
#exitCM {
	display:none;
}
#influBuildList{
	overflow:hidden;
	overflow-x:scroll;
	margin-bottom:5px;
	position:relative;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	-ms-user-select:none;
}

.line > div{
	display:inline-block;
	text-align: center;
	position:relative;
	height:20px;
	line-height:20px;
}
.line{
	white-space:nowrap;
	height:20px;
	margin-bottom:5px;
}
.line[id^="buildList"], .line[id^="buildList"] > div{
	height:50px;
	line-height:50px;
}
.styler{
	border: 1px dotted black;
	display:inline-block;
	width: 100%;
	height: 100%;
	overflow:hidden;
}
.text {
    display: inline-block;
    line-height: 1.3;
    vertical-align: middle;
	width: 100%;
    word-wrap: break-word;
	white-space:normal;
}
.line > :first-child{
	width: 250px;
	border: 1px solid black;
	border-radius:5px;
	margin-right: 5px;
	background-color: rgba(128, 0, 128, 0.2);
	/* prevent the trouble of keeping it aligned with the others */
	float:left;
}

.line > :nth-child(2) > span {
	border-radius:5px 0 0 5px;
}

.line > :last-child > span {
	border-radius: 0 5px 5px 0;
}

.line > :nth-child(2):last-child > span {
	border-radius: 5px;
}

.fillBy5  .styler{
	background-color: rgba(200, 150, 50, 0.3)
}

.time1{
	width:25px;
}
.time2{
	width:50px;
}
.time3{
	width:75px;
}
.time4{
	width:100px;
}
.time5{
	width:125px;
}
.time6{
	width:150px;
}
.time12{
	width:300px;
}
.time18{
	width:450px;
}
.time30{
	width:750px;
}
.time42{
	width:1050px;
}

.delCross{
	float:right;
	border-radius:12px;
	background-color: red;
	color:white;
	font-size:7pt;
	position:absolute;
	width:12px;
	height:12px;
	right:0;
	top:2px;
	line-height:1.2;
}

.exCF.exMD,.mightDel .styler{
	background-color: darksalmon;
	color:black;
}
.mightDel:hover .styler{
	background-size: 200%;
	background-image: -moz-linear-gradient(to right,darksalmon, darksalmon 40%, white 50%, darksalmon 60% ,darksalmon);
	background-image: -webkit-linear-gradient(left,darksalmon, darksalmon 40%, white 50%, darksalmon 60% ,darksalmon);
}
#buildingContent{
	text-align:center;
	min-height:320px;
}
#bCaccordion{
	display:inline-block;
	width:auto;
}
/*needed to overcome ui behavior*/
#buildingContent .family{
	position:static;
	overflow:visible;
	padding-left:5px;
	padding-right:5px;
}
.acc_header {
	text-align:left;
}
.colFam{
	/*margin-bottom:10px;*/
}

.exCF,.cellFam{
    width: 230px;
	text-align:center;
	height:20px;
	border: 2px solid;
	background-color: black;
	color:white;
	margin:5px;
	border-radius:5px;
	background-size: 200%;
	-moz-user-select:none;
	-webkit-user-select:none;
	user-select:none;
	-ms-user-select:none;
}
.exCF,.cellFam,.exFAQ{
	border-color:darkorange;
}
.exCF.canRepeat,.cellFam.canRepeat,.exRe{
	border-color:green;
}
.exCF.preReq,.cellFam.preReq,.cellFam.canRepeat.preReq,.exPReq{
	border-color:red;
}
.preReq:hover, .mightDel:hover .styler{
	-moz-animation-duration: 3s;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-moz-animation-name: bgMove;
	-webkit-animation-name: bgMove;
	animation-name: bgMove;
	-moz-animation-iteration-count : infinite;
	-webkit-animation-iteration-count : infinite;
	animation-iteration-count : infinite;
	-moz-animation-direction : alternate;
	-webkit-animation-direction : alternate;
	animation-direction : alternate;
	-moz-animation-timing-function : linear;
	-webkit-animation-timing-function : linear;
	animation-timing-function : linear;
}
.noSelect.preReq:hover{
	background-image: -moz-linear-gradient(to right,navy, navy 40%, white 50%, navy 60% ,navy);
	background-image: -webkit-linear-gradient(left,navy, navy 40%, white 50%, navy 60% ,navy);
}
.preReq:not(.noSelect):not(.ui-draggable-dragging):hover{
	background-image: -moz-linear-gradient(to right,black, black 40%, white 50%, black 60% ,black);
	background-image: -webkit-linear-gradient(left,black, black 40%, white 50%, black 60% ,black);
}
.cellFam.ui-state-disabled{
	opacity: 1; filter:Alpha(Opacity=1);
}
.exCF.exNS,.noSelect{
	background-color: navy;
}
.exCF.exUse,.inUse:not(.canRepeat){
	background-color: silver;
}
.exCF.exBg{
	border-color:transparent;
}
.exCF.exBor{
	background-color:transparent;
	color:black;
}
.exFAQ, .exRe, .exPReq{
	border-width: 1px;
	border-style: solid;
	border-radius:2px;
}

#thanksDiv,#formInnerDiv{
	margin-left:auto;
	margin-right:auto;
}
#thanksDiv{
	display:table;
	border-radius:15px;
	text-align:center;
	width: 90px;
	height: 50px;
	background: -moz-radial-gradient(pink, red, darkRed);
	background: -webkit-radial-gradient(pink, red, darkRed);
	margin-top: 40%;
	cursor: pointer;
}
#innerThanks{
	display:table-cell;
	vertical-align:middle;
}
.fieldWrapper{
	margin-bottom:15px;
}
.errorlist{
	color:red;
}
.fieldWrapper label{
	display:inline-block;
	width:70px;
}

@-moz-keyframes bgMove{
	from{
		background-position:left;
	}
	to{
		background-position:right;
	}
}
@-webkit-keyframes bgMove{
	from{
		background-position:left;
	}
	to{
		background-position:right;
	}
}
@keyframes bgMove{
	from{
		background-position:left;
	}
	to{
		background-position:right;
	}
}

#buildTooltip {
	position:absolute;
	display:none;
	text-align:center;
	height:30px;
	line-height:30px;
	white-space: nowrap;
}

#innerTooltip{
	padding:5px 10px;
	border: 1px solid black;
	background-color: white;
	border-radius:5px;
	font-size: 1.1em;
	font-family: Arial,sans-serif;
	width:100%;
}

#innerTooltipImg {
	width:30px;
	float: left;
}
